@import 'variables';

  body {
    font-family: sans-serif;
    font-size: 16px;
    color: $first-color;
    background: $bg-colour;
  }

  ul {
    list-style: $list-style;
  }

  a {
    text-decoration: $text-decoration;
  }
  .hidden {
    display: none;
  }

  