@import 'variables';

@font-face {
  font-family: openSansRegular;
  src: local('Open Sans Regular'),
       local('open sans regular'),
       url('#{$openSans-font-path}open_sans_regular.#{$woff2}') format("#{$woff2}"),
       url('#{$openSans-font-path}open_sans_regular.#{$woff}') format("#{$woff}");
}

@font-face {
  font-family: openSansBold;
  src: local('Open Sans Bold'),
       local('open sans bold'),
       url('#{$openSans-font-path}open_sans_bold.#{$woff2}') format("#{$woff2}"),
       url('#{$openSans-font-path}open_sans_bold.#{$woff}') format("#{$woff}");
}

@font-face {
  font-family: bebasNeu;
  src: local('Bebas Neue'),
       url('#{$openSans-font-path}bebas_neue.#{$woff2}') format("#{$woff2}"),
       url('#{$openSans-font-path}bebas_neue.#{$woff}') format("#{$woff}");
}

  body {
    font-family: openSansRegular;
    font-size: $font-seze + 2;
    color: $first-color;
    font-style: normal;
    font-weight: normal;
    margin: 0;
  }

  ul {
    list-style: $list-style;
    padding: 0;
  }

  a {
    text-decoration: $text-decoration;
  }
  .hidden {
    display: none;
  }

  h2, h3, h4 {
    font-family: bebasNeu;
  }
  h2 {
    font-size: $font-seze + 19;
    line-height: $lign-height + 17;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  h3 {
    font-size: $font-seze + 4;
    line-height: $lign-height + 2;
    letter-spacing: 2px;
    text-transform: uppercase
  }


  .masthead, section, footer {
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    position: relative;
  }

  .border--bottom {
    border-bottom: 1px solid  $first-color;
  }

