@import 'variables';

footer {
    background-color: #080A0B;
    margin-block-start: -226px;
    margin-block-end: 0;
}

.sos--logo {
    text-align: $center;
    padding-block-start: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row li {
    text-transform: uppercase;
    padding-block-end: 1rem;
}
.row li:nth-of-type(1), .row li:nth-of-type(2) {
    flex-basis: 20%;
}
.row li:nth-of-type(3) {
    flex-basis: 48%;
}
.row li:nth-of-type(4), .row li:nth-of-type(5) {
    flex-basis: auto;
}
.row a {
    color: $first-color;
    font-weight: bold;
    font-size: $font-seze - 2;
    line-height: 16px;
    letter-spacing: 0.1em;
}

.access--us {
    display: flex;
    justify-content: space-between;
}

.access--us a {
    padding: 1rem;
}

.copyright {
    font-weight: normal;
    font-size: $font-seze - 2;
    line-height: $lign-height;
    opacity: 0.5;
}

.private--communication {
    display: block;
    text-align: $center;
    text-transform: uppercase;
    padding-block-end: 2rem;
}
.private--communication li {
    padding: 1rem;
}
.private--communication a {
    color: $first-color;
    font-weight: bold;
    font-size: $font-seze - 2;
    line-height: $lign-height;
    letter-spacing: 0.1em;
}

.private--communication li:nth-of-type(2) {
    width: fit-content;
    padding: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-inline-start: 2px solid;
    border-inline-end: 2px solid;
}

.private--communication li:nth-of-type(2) a {
    padding: 1rem;
}