@import 'variables';

footer {
    background-color: #080A0B;
    margin-block-start: -226px;
    margin-block-end: 0;
}

.sos--logo {
    text-align: center;
    padding-block-start: 30px;
}

.column {
    float: left;
    // width: 50%;
    // padding: 10px;
    // height: 300px;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}