@import 'variables';

.masthead {
    background-image: url(../images/bg_challenge1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-block-start: 228px;
    padding-block-end: 200px;
    position: relative;
    top: -125px;
    z-index: -1;
}


body > header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.container {
    display: flex;
}
body > input {
    width: 1rem;
    height: 1rem;
    display: block;
    background-size: 1rem;
    background-repeat: no-repeat;
  }
.a11y {
    opacity: 0;
}
body > header > div {
    display: flex;
}
  body > header > div > label {
    order: 2;
    margin-inline-start: 2rem;
  }

  h1 {
      margin: 0;
  }

  form > select {
    background: none;
    border: 0;
    font-family: openSansBold;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  form > select > option {
      background-color: black;
  }
  form > label {
      display: none;
  }