
@import 'variables';

.masthead {
    background-image: url(../images/bg_challenge1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-block-start: 228px;
    padding-block-end: 200px;
    top: -125px;
}

.masthead button {
    width: 216px;
    height: 44px;
    padding: 0;
    font-weight: bold;
    font-size: $font-seze;
    line-height: 19px;
    text-align: center;
    background-color: $second-color;
    border: 0;
    border-radius: 2.94008px;
}

.challenge {
    text-align: center;
}
.challenge > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: -10rem;
    margin-top: 10rem;
}
.challenge > div > details, .challenge > div > ul {
    position: relative;
    right: 1rem;
}

.progressbar {
    margin: 0;
}
.progressbar li{
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}

.progressbar svg {
    display: block;
    position: relative;
    bottom: 22px;
    left: 6rem;
    margin: 0;
    padding: 0;
}

.progressbar li:before{
    content:" ";
    width: 10.5px;
    height: 10.5px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: transparent;
}

.masthead details > summary::-webkit-details-marker {
    display: none;
  }

.masthead summary {
    text-transform: uppercase;
    font-size: $font-seze - 2;
    outline: 0;
    position: relative;
}

.masthead summary::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    left: -1rem;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid $first-color;
}

.masthead details[open] summary::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    left: 4rem;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFFFFF;
}
