

.masthead {
    background-image: url(../images/bg_challenge1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-block-start: 228px;
    padding-block-end: 200px;
    top: -125px;
    z-index: -1;
}

.masthead button {
    width: 216px;
    height: 44px;
    padding: 0;
    font-weight: bold;
    font-size: $font-seze;
    line-height: 19px;
    text-align: center;
    background-color: $second-color;
    border: 0;
    border-radius: 2.94008px;
}

.challenge {
    text-align: center;
}
.challenge > div {
    display: flex;
    justify-content: space-around;
    margin-bottom: -10rem;
    margin-top: 10rem;
}
.challenge > div > details, ul {
    position: relative;
    right: 1rem;
}

.progressbar {
    margin: 0;
}
.progressbar li{
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
}

.progressbar svg {
    display: block;
    position: relative;
    bottom: 22px;
    left: 6rem;
    margin: 0;
    padding: 0;
}

.progressbar li:before{
    content:" ";
    width: 10.5px;
    height: 10.5px;
    border: 2px solid #bebebe;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: transparent;
}
summary {
    text-transform: uppercase;
    font-size: $font-seze - 2;
}