@import 'variables';

.section__features {
    background-image: radial-gradient(51.45% 45.77% at 21.45% 50.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%),url(../images/bg_pruned2.png);
    background-repeat: no-repeat;
    background-position: 5% 50%;
    background-size: cover, auto 100%;
    font-family: bebasNeu;
    bottom: 164px;
}

.section__features h2, .section__features h3 {
    margin: 0;
    padding-inline-start: 1rem;
}

.features__special {
    padding-block-end: 151px;
    padding-block-start: 95px;
    padding-inline-start: 116px;
    margin-inline-end: -1rem;
}

.container summary {
    font-size: $font-seze + 7;
    line-height: $lign-height + 5;
    letter-spacing: 2px;
    color: $second-color;
}

.container {
    position: relative;
    top: 1rem;
}
.container details::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border: 1px solid $first-color;
    top: 1rem;
}
.container p {
    font-family: openSansRegular;
    font-size: $font-seze;
    line-height: $lign-height;
    padding-inline-start: 1rem;
}

.container details > summary::-webkit-details-marker {
    display: none;
  }

.container summary {
    padding: 1rem;
    position: relative;
}
.container summary::before {
    content: '';
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    top: 1rem;
    left: -0.5rem;
    border: 1px solid $first-color;
}

details[open] summary::before {
    background-color: $first-color;
}

.container details:last-of-type {
    bottom: auto;
    height: 0;
}


.container details:first-child {
    top: 0;
}

