
.section__battle {
    background-image: url(../images/bg_battle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 40%;
    padding-block-start: 228px;
    padding-block-end: 200px;
    position: relative;
    top: -125px;
    z-index: -1;
}