@import 'variables';

.section__requirements {
  background-image: radial-gradient(124.54% 21.14% at 34.77% 72.51%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 46.19%, #080A0B 100%), url(../images/bg_requirements1.png);
    background-repeat: no-repeat;
    background-position: 100% calc(94% + 18px);
    background-size: contain;
    bottom: 182px;
}
.requirements__system {
  padding-block-start: 2rem;
  padding-block-end: 12rem;
}
h4 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2px;
    color: $second-color;
  }
table, td {
    border: 0.504234px solid #979797;
}

td {
   padding: .5rem;
}

td h4 {
  margin-top: 0;
}

td span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
table {
  border-collapse:collapse;
}