@import 'variables';

.section__quotes button {
    width: 216px;
    height: 44px;
    padding: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background-color: $second-color;
    border: 0;
    border-radius: 2.94008px;
}

.section__quotes {
    background: radial-gradient(110.52% 0.27% at 79.21% 80.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
    bottom: 210px;
}

.quotes__comments li {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
}

.quotes__comments > li div {
    display: flex;
    justify-content: space-between;
}
.profile_name {
    display: flex;
    flex-direction: column;
}

.profile_name h4 {
    margin: 0;
}

.outer_profile {
    margin: 0;
}

.image_profile {
    border-radius: 50%;
    box-shadow: 4px 4px 0px 2px $second-color;
}

.twitter {
    opacity: 0.3;
}

.comment {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.quotes__comments span {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.5;
}
.section__quotes ul {
    padding-block-end: 5rem;
    padding-block-start: 1rem;
}