
$bg-colour: radial-gradient(17.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%);
$first-color: #FFFFFF;
$second-color: #FFB548;
$list-style: none;
$text-decoration: none;

// About fonts

$openSans-font-path: "../fonts/";
$woff2: 'woff2';
$woff: 'woff';
$font-seze: 14px;
$lign-height: 16px;

