@font-face {
  font-family: openSansRegular;
  src: local("Open Sans Regular"), local("open sans regular"), url("../fonts/open_sans_regular.woff2") format("woff2"), url("../fonts/open_sans_regular.woff") format("woff"); }

@font-face {
  font-family: openSansBold;
  src: local("Open Sans Bold"), local("open sans bold"), url("../fonts/open_sans_bold.woff2") format("woff2"), url("../fonts/open_sans_bold.woff") format("woff"); }

@font-face {
  font-family: bebasNeu;
  src: local("Bebas Neue"), url("../fonts/bebas_neue.woff2") format("woff2"), url("../fonts/bebas_neue.woff") format("woff"); }

body {
  font-family: openSansRegular;
  font-size: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: normal;
  margin: 0; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

h2, h3, h4 {
  font-family: bebasNeu; }

h2 {
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  text-transform: uppercase; }

h3 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.masthead, section, footer {
  padding-inline-start: 16px;
  padding-inline-end: 16px;
  position: relative; }

body > header {
  display: flex;
  justify-content: space-between;
  padding: 2rem; }

body > input {
  width: 1rem;
  height: 1rem;
  display: block;
  background-size: 1rem;
  background-repeat: no-repeat; }

.a11y {
  opacity: 0; }

body > header > div {
  display: flex; }

body > header > div > label {
  order: 2;
  margin-inline-start: 2rem; }

h1 {
  margin: 0; }

form > select {
  background: none;
  border: 0;
  font-family: openSansBold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

form > select > option {
  background-color: black; }

form > label {
  display: none; }

.masthead {
  background-image: url(../images/bg_challenge1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
  padding-block-start: 228px;
  padding-block-end: 200px;
  top: -125px;
  z-index: -1; }

.masthead button {
  width: 216px;
  height: 44px;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background-color: #FFB548;
  border: 0;
  border-radius: 2.94008px; }

.challenge {
  text-align: center; }

.challenge > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: -10rem;
  margin-top: 10rem; }

.challenge > div > details, .challenge > div > ul {
  position: relative;
  right: 1rem; }

.progressbar {
  margin: 0; }

.progressbar li {
  float: left;
  width: 20%;
  position: relative;
  text-align: center; }

.progressbar svg {
  display: block;
  position: relative;
  bottom: 22px;
  left: 6rem;
  margin: 0;
  padding: 0; }

.progressbar li:before {
  content: " ";
  width: 10.5px;
  height: 10.5px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: transparent; }

summary {
  text-transform: uppercase;
  font-size: 12px; }

body > nav {
  padding: 1rem;
  height: 50%;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateY(-100%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ nav {
  transform: translateY(0%); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

.head_navigatrion > ul {
  list-style: none;
  background-color: black;
  display: flex;
  flex-direction: column; }

.head_navigatrion label {
  width: 250px;
  display: block;
  height: 30px; }

body > [type="checkbox"] {
  display: none; }

body > nav > label, body > header > div > label {
  width: 1rem;
  height: 1rem;
  background-image: url(../images/menu_icon.svg);
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > label {
  opacity: 0; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > nav > ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem 1rem 1rem 4rem;
  vertical-align: middle; }

body > nav .icon {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

.section__battle {
  background-image: radial-gradient(70.03% 27.57% at 56% 60.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url(../images/bg_battle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
  padding-block-start: 0px;
  padding: 16px;
  position: relative;
  top: -145px; }

.section__battle p {
  font-size: 16px; }

.gallery img {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block; }

.galleries {
  padding: 2rem 38px; }

.galleries > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  padding-bottom: calc(100% * 273 / 249); }

.gallery {
  position: absolute; }

.gallery img {
  border-radius: 5px; }

.gallery:nth-of-type(1) {
  z-index: 3;
  top: 0;
  left: 0;
  right: calc(100% * 24 / 249); }

.gallery:nth-of-type(2) {
  top: 50%;
  z-index: 2;
  right: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  transform-origin: 100% 0%;
  transform: translateY(-50%) scale(calc(249 / 273)); }

.gallery:nth-of-type(3) {
  top: 50%;
  z-index: 1;
  right: calc(100% * 0 / 249);
  left: calc(100% * 24 / 249);
  transform-origin: 100% 0%;
  transform: translateY(-50%) scale(calc(249 / 273)); }

.slides {
  position: relative;
  z-index: 3;
  bottom: 4rem;
  text-align: center; }

.section__features {
  background-image: radial-gradient(51.45% 45.77% at 21.45% 50.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%), url(../images/bg_pruned2.png);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: cover, auto 100%;
  font-family: bebasNeu;
  bottom: 164px; }

.section__features h2, .section__features h3 {
  margin: 0;
  padding-inline-start: 1rem; }

.features__special {
  padding-block-end: 151px;
  padding-block-start: 95px;
  padding-inline-start: 116px;
  margin-inline-end: -1rem; }

.container summary {
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548; }

.container {
  position: relative;
  top: 1rem; }

.container details::before {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  border: 1px solid #FFFFFF;
  top: 1rem; }

.container p {
  font-family: openSansRegular;
  font-size: 14px;
  line-height: 16px;
  padding-inline-start: 1rem; }

.container details > summary::-webkit-details-marker {
  display: none; }

.container summary {
  padding: 1rem;
  position: relative; }

.container summary::before {
  content: '';
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 1rem;
  left: -0.5rem;
  border: 1px solid #FFFFFF; }

details[open] summary::before {
  background-color: #FFFFFF; }

.container details:last-of-type {
  bottom: auto;
  height: 0; }

.container details:first-child {
  top: 0; }

.section__requirements {
  background-image: radial-gradient(124.54% 21.14% at 34.77% 72.51%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 46.19%, #080A0B 100%), url(../images/bg_requirements1.png);
  background-repeat: no-repeat;
  background-position: 100% calc(94% + 18px);
  background-size: contain;
  bottom: 182px; }

.requirements__system {
  padding-block-start: 2rem;
  padding-block-end: 12rem; }

h4 {
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFB548; }

table, td {
  border: 0.504234px solid #979797; }

td {
  padding: .5rem; }

td h4 {
  margin-top: 0; }

td span {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px; }

table {
  border-collapse: collapse; }

.section__quotes button {
  width: 216px;
  height: 44px;
  padding: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background-color: #FFB548;
  border: 0;
  border-radius: 2.94008px; }

.section__quotes {
  background: radial-gradient(110.52% 0% at 79.21% 80.47%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%);
  bottom: 210px; }

.quotes__comments li {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: .5rem;
  margin-bottom: 1rem; }

.quotes__comments > li div {
  display: flex;
  justify-content: space-between; }

.profile_name {
  display: flex;
  flex-direction: column; }

.profile_name h4 {
  margin: 0; }

.outer_profile {
  margin: 0; }

.image_profile {
  border-radius: 50%;
  box-shadow: 4px 4px 0px 2px #FFB548; }

.twitter {
  opacity: 0.3; }

.comment {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }

.quotes__comments span {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  opacity: 0.5; }

.section__quotes ul {
  padding-block-end: 3rem;
  padding-block-start: 1rem;
  margin: 0; }

.section__subscribe {
  background-image: radial-gradient(48.43% 32.19% at -7% 25%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 46.15%, #080A0B 99.74%), url(../images/bg_subscribe.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover, 40%;
  bottom: 210px;
  padding-block-end: 61px; }

.subscribe__news {
  padding-inline-start: 100px;
  padding-block-start: 2rem; }

.section__subscribe h2, .section__subscribe h3 {
  margin: 0; }

.section__subscribe p {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }

.subscribe__form {
  padding-block-start: 2rem; }

.subscribe__type {
  width: auto;
  height: 44px;
  padding: .5rem;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  background-color: #FFB548;
  border: 0;
  border-radius: 2.94008px; }

.email {
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.08);
  text-align: left; }

.email label {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5; }

.email input {
  border: 0;
  background-color: initial; }

.email ::placeholder {
  color: #FFB548; }

.submit button {
  margin-block-start: 0.7rem;
  border: 0;
  background-color: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center; }

footer {
  background-color: #080A0B;
  margin-block-start: -226px;
  margin-block-end: 0; }

.sos--logo {
  text-align: center;
  padding-block-start: 30px; }

.column {
  float: left; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.right {
  float: right; }
