@font-face {
  font-family: openSansRegular;
  src: local("Open Sans Regular"), local("open sans regular"), url("../webroot/fonts/open_sans_regular.woff2") format("woff2"), url("../webroot/fonts/open_sans_regular.woff") format("woff"); }

body {
  font-family: openSansRegular;
  font-size: 16px;
  color: #FFFFFF;
  background: radial-gradient(17.45% 34.77% at 31.45% 40.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%); }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

.hidden {
  display: none; }

body > nav {
  padding: 1rem;
  height: 50%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ nav {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1; }

.head_navigatrion > h2 {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem; }

.head_navigatrion > ul {
  list-style: none;
  background-color: black;
  display: flex;
  flex-direction: column; }

body > nav > h2 > label {
  width: 1rem;
  height: 1rem;
  display: block;
  background-image: url(../images/menu_icon.svg);
  background-size: 1rem;
  background-repeat: no-repeat; }

body > nav > ul {
  list-style: none;
  display: flex;
  flex-direction: column; }

body > nav > ul a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  transition: opacity 0.3s;
  display: block;
  padding: 1rem 1rem 1rem 4rem;
  vertical-align: middle; }

body > nav .icon {
  background-position: 1rem 50%; }

body > nav > ul a:hover {
  opacity: 1; }

body > header {
  background-image: url(../images/bg_challenge1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%; }

.container {
  display: flex; }

body > input {
  width: 1rem;
  height: 1rem;
  display: block;
  background-size: 1rem;
  background-repeat: no-repeat; }

form > select {
  background: none;
  border: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

form > select > option {
  background-color: black; }

form > label {
  display: none; }
